@model EmployeeLeaveManagement.Models.LeaveApplication
@{
    ViewData["Title"] = "Reject Leave";
}

<form asp-action="RejectLeave" method="post">
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Employee)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.Employee.FullName)
                </td>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.NoOfDays)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.NoOfDays)
                </td>
            </tr>
            <tr>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.StartDate)
                </td>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.EndDate)
                </td>
            </tr>
            <tr>
                <th class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <td class="col-sm-3">
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>
        </thead>
    </table>
    <div class="row">
        <div class="col-md-12">
            <div class="clearfix">
                <a asp-action="Index" class="btn btn-danger push-left">Back to List</a>
                <input type="submit" value="Reject" class="btn btn-danger" />
            </div>
        </div>
    </div>
</form>
